.add-name-container {
  background-color: var(--main-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.add-name-container form {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em;
}

.submit-btn {
  margin-top: 0.75rem;
  padding: 0.25rem 0.55rem;
<<<<<<< HEAD
<<<<<<< HEAD
  height: 30.4px;
=======
>>>>>>> 7ea296c (added padding to add-name elements added index.js/css with reset/normalize css)
=======
>>>>>>> e41033b (added padding to add-name elements added index.js/css with reset/normalize css)
}

form small {
  color: red;
}

.modal-container {
  visibility: hidden;
  position: absolute;
  width: 40%;
  height: auto;
  min-height: 100px;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid gray;
  color: white;
  padding: 1em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.is-open {
  visibility: visible;
}

#gender-lbl {
  margin-right: 0.45rem;
}

.gender-inputs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-lbl {
<<<<<<< HEAD
<<<<<<< HEAD
  margin-left: 0.15rem;
=======
  margin-left: 0.25rem;
>>>>>>> 7ea296c (added padding to add-name elements added index.js/css with reset/normalize css)
=======
  margin-left: 0.25rem;
>>>>>>> e41033b (added padding to add-name elements added index.js/css with reset/normalize css)
  margin-right: 0.5rem;
}
