:root {
  --input-bg-color: hsl(0, 0%, 100%);
  --input-font-color: hsl(0, 0%, 0%);
  --box-shadow-color: hsl(0, 0%, 28%);
}

.add-name-container {
  background-color: var(--header-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-bottom: 1em;
}

.add-name-container h2 {
  text-align: center;
  font-family: Moranga, sans-serif;
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 1em;
}

.add-name-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-btn {
  background-color: #468964;
  color: #ffffff;
  margin-top: 0.75rem;
  padding: 1.75vw 6vw;
  min-width: 110px;
  max-width: 175px;
  border-radius: 10px;
  font-size: calc(12px + 0.5vw);
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
  transition: transform 0.3s ease;
}
.submit-btn:hover {
  font-size: calc(12px + 0.55vw);
  transform: translateZ(10px);
}

/* Submit button click effects: */
.submit-btn:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0 0 10px 15px white;
  box-shadow: 0 0 10px 15px white;
  z-index: -1;
}

.submit-btn:active:after {
  -webkit-box-shadow: 0 0 0 0 white;
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

form small {
  color: red;
}

label {
  color: var(--main-text-color);
  font-size: calc(12px + 0.75vw);
  padding: 0 0.35em;
}

#name-input {
  color: var(--input-font-color);
  background-color: var(--input-bg-color);
  border: 1.5px solid lightgray;
  box-shadow: 1.5px 1.5px 1.5px var(--box-shadow-color);
}

dialog {
  position: absolute;
  width: 40%;
  height: 25%;
  min-height: 150px;
  top: 60%;
  left: 40%;
  font-size: 1.25rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.65);
  border: 2px solid gray;
  color: white;
  border-radius: 5px;
}

dialog::backdrop {
  background: rgba(115, 115, 115, 0.6);
}

.vertical-align {
  /* Align both vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#close-btn {
  margin-top: 1.5rem;
}

#gender-lbl {
  margin-right: 0.45rem;
}

.gender-inputs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-lbl {
  margin-left: 0.15rem;
  margin-right: 0.5rem;
}

.errors {
  margin-top: 0.55rem;
  font-size: 1em;
  color: red;
}

@media screen and (min-width: 750px) {
  .submit-btn {
    padding: 1vw 2vw;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --input-bg-color: hsla(0, 3%, 30%, 0.25);
    --input-font-color: hsl(0, 0%, 80%);
    --box-shadow-color: hsl(0, 0%, 85%);
  }
}
