.add-name-container {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.add-name-container form {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

button {
  margin-top: 0.75rem;
}

form small {
  color: red;
}

.modal-container {
  visibility: hidden;
  position: absolute;
  top: 40%;
  right: 20%;
  border: 1px solid gray;
  background-color: lightslategrey;
  color: white;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-open {
  visibility: visible;
}
