:root {
  --footer-bg-color: hsl(210, 13%, 50%);
  --footer-font-color: hsl(39, 77%, 83%);
}

footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color);
}

footer section {
  margin-top: 1.5rem;
}

footer section:last-child {
  margin-bottom: 1.5em;
}

.links a {
  color: wheat;
}

@media screen and (min-width: 750px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  footer section {
    margin-right: 1.5rem;
    width: 100%;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --footer-bg-color: hsla(0, 0%, 0%, 0.85); */
    --footer-font-color: hsl(39, 77%, 83%);
  }

  footer {
    background-color: var(--header-background);
  }
}
