header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

img {
  width: 25%;
  max-width: 180px;
  min-width: 100px;
}

h1 {
  text-align: center;
}

@media screen and (min-width: 750px) {
  header {
    flex-direction: row;
  }
  h1 {
    width: 80%;
    font-size: 5vw;
  }
}
