@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Marko One', serif;
}

body,
html,
p,
div,
span,
footer,
header,
section {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif; */
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

img {
  width: 25%;
  max-width: 180px;
  min-width: 100px;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 750px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  h1 {
    width: 80%;
    font-size: 5vw;
  }
}
