header {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
=======
  display: flex;
  flex-direction: column;
>>>>>>> origin/front-end
  align-items: center;
  padding: 1em;
}

img {
  width: 25%;
  max-width: 180px;
  min-width: 100px;
}

h1 {
  text-align: center;
}

@media screen and (min-width: 750px) {
  header {
<<<<<<< HEAD
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
=======
>>>>>>> origin/front-end
    flex-direction: row;
  }
  h1 {
    width: 80%;
    font-size: 5vw;
  }
}
