* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  padding: 1em;
}

h2,
h3,
p {
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

/* gender button container set-up */
.btn-genders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

/* Generate name button container styling */
.btn-generate {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn-generate button {
  background-color: rgb(81, 197, 81);
  width: 100px;
  border-radius: 3px;
  padding: 1em;
}

/* Apply styling to the gender buttons */
.custom-button {
  background-color: rgb(186, 182, 182);
  color: white;
  width: 100px;
  padding: 1em;
  border-radius: 3px;
}
/* styling for the gender button that is clicked */
.active {
  background-color: lightcoral;
}

/* Generated name "card" styling */
.card-container {
  width: 30%;
  height: 70px;
  max-width: 200px;
  min-width: 140px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgb(161, 160, 160);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(161, 160, 160);
  border: 1px solid black;
  padding: 1.5em;
  margin: 1em auto;
  background-color: aqua;
  -webkit-transition: border 0.25s;
  -o-transition: border 0.25s;
  transition: border 0.25s;
}

.name-style {
  border: 2px solid black;
}

@media screen and (min-width: 750px) {
  .btn-genders {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media screen and (min-width: 750px) {
  .btn-genders {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
