@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

/* reset styles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif; */
  font-family: 'Marko One', serif;
}

body,
html,
p,
div,
span,
footer,
header,
section {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* property variables: */
:root {
  --main-bg-color: hsl(80, 33%, 95%);
  --active-btn-color: hsla(355, 78%, 56%, 0.8);
  --inactive-btn-color: hsl(0, 3%, 72%);
  --generate-btn-color: hsl(215, 64%, 28%);
  --results-bg-color: hsla(203, 39%, 44%, 0.5);
}

body {
  background-color: var(--main-bg-color);
}

main {
  padding: 1em;
  /* padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em; */
}

h2,
h3,
p {
  text-align: center;
  margin: 0;
}

button {
  cursor: pointer;
}

/* gender button container set-up */
.btn-genders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
/* Apply styling to the gender buttons */
.gender-button {
  background-color: var(--inactive-btn-color);
  color: white;
  width: 100px;
  padding: 0.5em;
  border-radius: 3px;
  font-size: 1rem;
}
/* styling for the gender button that is clicked */
.active {
  background-color: var(--active-btn-color);
}

/* Generate name button container styling */
.btn-generate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
}

.btn-generate-container button {
  background-color: var(--header-bg-color);
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.75em;
}

/* Generated name "card" styling */
.card-container {
  width: 30%;
  height: 4.5em;
  max-width: 200px;
  min-width: 140px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgb(161, 160, 160);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(161, 160, 160);
  border: 1px solid black;
  padding: 1.5em;
  margin: 1em auto;
  background-color: var(--results-bg-color);
  -webkit-transition: border 0.25s;
  -o-transition: border 0.25s;
  transition: border 0.25s;
  font-size: 1.35rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

@media screen and (min-width: 750px) {
  .btn-genders {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
